{% load static %}
<div class="card card-session">
    <div class="card-header">
        <img class="avatar-img avatar-sm"  src="{% static 'avatars/'%}{{session.surfer.id}}.png">
        <div class="session-surfer-name">{{session.surfer.first_name}} {{session.surfer.last_name}}</div>
        <div class="session-date">{{session.display_date}}</div>
    </div>
    <div class="card-body session-card-body">
        <div class="col-lg-12 col-sm-12 d-flex">
            <div class="col-lg-5 col-sm-5">
                <h5 class="session-card-title">
                    <a href="/session/{{session.id}}">{{session.name}}</a>
                </h5>
                <span class="session-card-subtitle">{{session.location }}</span>
                <table class="table-session-stats">
                    <thead>
                        <th>Waves</th>
                        <th>Duration</th>
                        <th>Max Speed</th>
                    </thead>
                    <tbody>
                        <td>{{session.number_of_waves}}</td>
                        <td>{{session.display_duration}}</td>
                        <td>{{session.display_max_speed}}</td>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-7 col-sm-7">
                <div id="map_{{session.id}}" class="session-map" >
                </div>
            </div>
        </div>                                         
    </div>
</div>