{% load static %}
<div class="card card-session">
    <div class="card-header" style="display:block">
        <div class="row">
            <div class="col-sm-1 col-lg-1">
                <img class="avatar-img avatar-sm"  src="{% static 'avatars/'%}{{session.surfer.id}}.png">
            </div>
            
            <div class="col-lg-11 col-sm-11">
                <div class="session-surfer-name">
                    {{session.surfer.first_name}} {{session.surfer.last_name}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-1">
                {% if session.board != None %}
                    <img class="board-img mt-4" src="{% static 'boards/'%}{{session.board.image_name}}"></img>
                {% endif %}
            </div>
            <div class="col-sm-11 col-lg-11">
                <div class="row">
                    <span class="session-card-subtitle ">{{ session.display_date }} - {{ session.location }}</span>
                </div>
                <div class="row">
                    <h5 class="session-card-title col-lg-12 col-sm-12">
                        <a href="/session/{{session.id}}">{{session.name}}</a>
                    </h5>
                    <table class="table-session-stats col-lg-12 col-sm-12">
                        <thead>
                            <th>Waves</th>
                            <th>Duration</th>
                            <th>Max Speed</th>
                        </thead>
                        <tbody>
                            <td>{{session.number_of_waves}}</td>
                            <td>{{session.display_duration}}</td>
                            <td>{{session.display_max_speed}}</td>
                        </tbody>
                    </table>                    
                </div>
            </div>            
        </div>
    </div>
    <div class="card-body session-card-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div id="map_{{session.id}}" class="session-map" >
                </div>
            </div>                                     
        </div>
    </div>
</div>