{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Home' %} {% endblock %}
{% block description %}{% endblock %}
{% block seo_tags %}{% endblock %}
{% load static %}

{% block javascripts_top %}
<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin=""></script>
<script src="{% static 'js/home.js' %}" crossorigin="" />

{% endblock  %}
{% block stylesheets %}     
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" crossorigin=""/>

{% endblock  %}
{% block content %}
{% spaceless %}
        {% include './site_navbar.html' %}
        
        <div id="layoutSidenav">          
            <div id="layoutSidenav_content">
                <main>
                    <div class="page-content">
                        <div class="row mt-5 ">
                            <div class="col-xl-3 col-md-6">
                                <div class="card profile-card">
                                    <div class="card-body">
                                        <div class="avatar avatar-surfer avatar-lg">
                                            <div class="avatar-content">
                                                <div class="avatar-img-wrapper">
                                                    <div class="avatar-badge">
                                                        <span class="app-icon-wrapper  ">
                                                            <span class="app-icon icon-badge-"></span>
                                                        </span>
                                                    </div>
                                                    <img class="avatar-img" src="{% static 'avatars/'%}{{vc.surfer.id}}.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">{{vc.surfer.first_name}} {{vc.surfer.last_name}}
                                        </div>
                                        <div class="text-center mt-3 mb-3">
                                            <a onclick="click_update_strava()" class="btn btn-outline-strava cursor-pointer">
                                                <span>Connect with Strava</span>
                                                <img class="strava-logo" src="{% static 'avatars/strava_logo.png'%}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="" >Your Sessions Log</a>
                                        <div class="small"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-9 col-md-6">
                                {% for session in vc.sessions %}
                                    {% include './feed_session_card.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </main>
                {% include './site_footer.html' %}
            </div>
        </div>

        {% include './strava_update_modal.html' %}
        
{% endspaceless %}
{% endblock %}
{% block javascripts_bottom %}
{% endblock javascripts_bottom %}